@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --with-main: "1200px";
  --font-sans: "Poppins", sans-serif;
  --font-geologica: "Geologica", sans-serif;
  --color-primary: #ff6d10;
  --color-dark: #0f0f2d;
  --color-violet: #5b3cc4;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
