@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-geologica: "Geologica", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-primary: #ff6d10;
  --color-dark: #0f0f2d;
  --color-violet: #5b3cc4;
}

/* #footer > div {
  width: 25%;
} */

.clip-card {
  clip-path: polygon(0 0, 50% 8%, 100% 0, 100% 100%, 0% 100%);
}

#trending_event_slider .swiper-wrapper {
  justify-content: space-between;
}

@keyframes runInPlace {
  0% {
    transform: translateY(0) rotate(-1deg);
  }
  50% {
    transform: translateY(-5px) rotate(1deg);
  }
  100% {
    transform: translateY(0) rotate(-1deg);
  }
}

.animate-run {
  animation: runInPlace 0.3s infinite;
}

.frame-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.frame-left::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 60%;
  background-color: #bd7c28;
}

.frame-left::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 60%;
  background-color: #bd7c28;
}

.frame-right {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.frame-right::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  height: 3px;
  width: 60%;
  background-color: #bd7c28;
}

.frame-right::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 3px;
  height: 60%;
  background-color: #bd7c28;
}

.frame-left::before,
.frame-left::after,
.frame-right::before,
.frame-right::after {
  background-color: #ff6d10;
  box-shadow: 0 0 10px #ff6d10, 0 0 20px #bd7c28;
}

#trending-slider::before {
  position: absolute;
  left: 0;
  content: "";
  background-color: #bd7c28;
  top: 0;
  width: 100%;
  height: 2px;
  z-index: 50;
  box-shadow: 0 0 10px #ff6d10, 0 0 30px #c7750a;
}

#trending-slider::after {
  position: absolute;
  left: 0;
  content: "";
  background-color: #bd7c28;
  bottom: 0;
  width: 100%;
  height: 2px;
  z-index: 50;
  box-shadow: 0 0 10px #ff6d10, 0 0 30px #c7750a;
}

/* Trong file CSS của bạn (ví dụ: styles.css) */

.golden-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.golden-bar {
  width: 600px; /* Chiều dài tổng của thanh */
  height: 5px; /* Chiều cao của thanh */
  /* Sử dụng linear-gradient để tạo hiệu ứng chuyển màu */
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(251, 192, 45, 0.5) 10%,
    #ff6d10 25%,
    #ff6d10 75%,
    rgba(251, 192, 45, 0.5) 90%,
    transparent 100%
  );
}

.shadow-left {
  box-shadow: 20px 0 30px -10px rgba(0, 0, 0, 0.5);
}

/* Nếu bạn muốn tạo hiệu ứng mờ hơn ở hai đầu, có thể dùng một dải màu vàng nhạt hơn */
