@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "SVN-Avengeance";
  src: url("/font/SVN-Avengeance.otf") format("opentype");
}

@font-face {
  font-family: "SVN-Hemi Head";
  src: url("/font/SVN-Hemi Head.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SVN-Nexa Rush Slab Black Shadow";
  src: url("/font/SVN-Nexa Rush Slab Black Shadow.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SVN-Revolution.ttf";
  src: url("/font/SVN-Revolution.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-avengeance {
  font-family: "SVN Avengeance";
}

.font-hemi-head {
  font-family: "SVN-Hemi Head";
}

.font-nexa-rush {
  font-family: "SVN-Nexa Rush Slab Black Shadow";
}

.font-revolution {
  font-family: "SVN-Revolution";
}

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-geologica: "Geologica", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-primary: #ff6d10;
  --color-dark: #0f0f2d;
  --color-violet: #5b3cc4;

  --animate-slide-right: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;

  --animate-slide-left: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;

  --animate-fade-in: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  --animate-fade-out-top: fade-out-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;

  @keyframes slide-right {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out-top {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* #footer > div {
  width: 25%;
} */

.clip-card {
  clip-path: polygon(0 0, 50% 8%, 100% 0, 100% 100%, 0% 100%);
}

#trending_event_slider .swiper-wrapper {
  justify-content: space-between;
}

.frame-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.frame-left::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 60%;
  background-color: #bd7c28;
}

.frame-left::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 60%;
  background-color: #bd7c28;
}

.frame-right {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.frame-right::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  height: 3px;
  width: 60%;
  background-color: #bd7c28;
}

.frame-right::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 3px;
  height: 60%;
  background-color: #bd7c28;
}

.frame-left::before,
.frame-left::after,
.frame-right::before,
.frame-right::after {
  background-color: #ff6d10;
  box-shadow: 0 0 10px #ff6d10, 0 0 20px #bd7c28;
}

.frame-team-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.frame-team-left::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 60%;
  background-color: #a5c9ec;
}

.frame-team-left::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 60%;
  background-color: #a5c9ec;
}

.frame-team-right {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.frame-team-right::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  height: 3px;
  width: 60%;
  background-color: #a5c9ec;
}

.frame-team-right::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 3px;
  height: 60%;
  background-color: #a5c9ec;
}

.frame-team-left::before,
.frame-team-left::after,
.frame-team-right::before,
.frame-team-right::after {
  box-shadow: 0 0 10px #ececee, 0 0 20px #085aab;
}

#trending-slider::before {
  position: absolute;
  left: 0;
  content: "";
  background-color: #bd7c28;
  top: 0;
  width: 100%;
  height: 2px;
  z-index: 50;
  box-shadow: 0 0 10px #ff6d10, 0 0 30px #c7750a;
}

#trending-slider::after {
  position: absolute;
  left: 0;
  content: "";
  background-color: #bd7c28;
  bottom: 0;
  width: 100%;
  height: 2px;
  z-index: 50;
  box-shadow: 0 0 10px #ff6d10, 0 0 30px #c7750a;
}

/* Trong file CSS của bạn (ví dụ: styles.css) */

.golden-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.golden-bar {
  width: 600px; /* Chiều dài tổng của thanh */
  height: 5px; /* Chiều cao của thanh */
  /* Sử dụng linear-gradient để tạo hiệu ứng chuyển màu */
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(251, 192, 45, 0.5) 10%,
    #ff6d10 25%,
    #ff6d10 75%,
    rgba(251, 192, 45, 0.5) 90%,
    transparent 100%
  );
}

.shadow-left {
  box-shadow: 20px 0 30px -10px rgba(0, 0, 0, 0.5);
}

/* Nếu bạn muốn tạo hiệu ứng mờ hơn ở hai đầu, có thể dùng một dải màu vàng nhạt hơn */
